<nav class="navbar bg-primary-subtle text-primary-emphasis">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WeatherOrNot</a>
    <form class="d-flex" role="search" action="/forecast" method="get">
      <% if(temperature == null) { %> <% } else if (temperature.includes("F")) {
      %>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          name="unit"
          value="fahrenheit"
          checked
          title="Convert to Celsius"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Celsius / Fahrenheit</label
        >
      </div>
      <% } else if (temperature.includes("C")) { %>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          name="unit"
          value="fahrenheit"
          title="Convert to Fahrenheit"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Celsius / Fahrenheit</label
        >
      </div>
      <% } else{ %> <% } %>
      <input
        class="form-control me-2"
        type="search"
        name="city"
        placeholder="Enter a Canadian city..."
        required
        aria-label="Search"
      />
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>
</nav>
