<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WeatherOrNot</a>
    <form class="d-flex" role="search" action="/forecast" method="get">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          name="unit"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Celsius / Fahrenheit</label
        >
      </div>
      <input
        class="form-control me-2"
        type="search"
        name="city"
        placeholder="Enter a Canadian city..."
        required
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
